body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background: #f2f2f2;
}

:root {
  scroll-behavior: smooth;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      hsla(258, 43%, 68%, 0.322) 0%,
      hsla(318, 88%, 87%, 0.39) 100%
    ),
    url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.deluxe {
  margin: 0;
  font-size: 80px;
}

.deluxe2 {
  margin: -0.5%;
  font-size: 50px;
}

.hamburguesa {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 5);
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  z-index: 10;
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  color: #ffffff;
  text-decoration: none;
}

.menu-navegacion a:hover {
  color: #4e4b4b;
  text-decoration: none;
}

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-delivery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-delivery h2 {
  text-align: center;
  justify-content: center;
  color: #9f8ad0;
  font-size: 60px;
}

.contenedor-delivery img {
  width: 40%;
  justify-content: center;
}

.menu-comida {
  color: #4a4752;
  background: #f2f2f2;
}

.contenedor-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-1 {
  width: 30%;
}

.img-menu {
  object-fit: cover;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.img-menu figure {
  position: relative;
}
.img-menu figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.img-menu figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.img-desc {
  text-align: center;
  color: #4a4752;
  font-weight: 400;
}

.menu-1 {
  margin-bottom: 60px;
}

.menu-1 p {
  justify-content: center;
  text-align: center;
}

.extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.extra h2 {
  font-weight: 400;
}

.bebidas {
  padding-top: 10px;
  justify-content: center;
}

.dulces {
  justify-content: center;
}

.separador {
  background-color: #a09f9f;
  width: 100%;
  height: 4px;
}

.qr-wha {
  background: #f2f2f2;
}

.qr-wha h2 {
  text-align: center;
  justify-content: space-evenly;
  color: #9f8ad0;
  font-size: 60px;
  font-weight: 300;
}

.qr-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.codigoqr {
  width: 30%;
}

.codigoqr img {
  width: 100%;
}

.qr-desc {
  width: 30%;
}
.qr-desc p {
  text-align: justify;
}

.numero {
  text-align: center;
  font-weight: 700;
  display: inline-block;
  width: 30px;
  height: 30px%;
  border-radius: 50%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.codigo-telefonos {
  display: none;
}

.ubica {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}

.desc-ubi {
  width: 45%;
}

.mapa {
  width: 45%;
}

.ubica h3 {
  justify-content: center;
  text-align: justify;
  color: #4a4752;
}

.equipos {
  background: #f2f2f2;
}

.sub-equi {
  padding: 50px;
}

.equipo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.img-equipo {
  width: 150px;
}

.cont-equipo {
  margin-bottom: 40px;
  font-weight: 400;
}

.nombres h3 {
  font-weight: 600;
  color: #4a4752;
}

#footer {
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  padding-bottom: 0.1px;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.footer-logo {
  width: 40%px;
}

.footer-logo img {
  width: 150px;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.social {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social-media-icon:hover {
  background: #ffff;
  color: #764ba2;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  margin-bottom: 60px;
  background: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .qr-wha {
    display: none;
  }

  .codigo-telefonos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    color: #4a4752;
  }

  .qr-telefonos {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .qr-infos {
    justify-content: center;
    text-align: center;
  }

  .qr-infos p {
    color: #4a4752;
    text-align: center;
    margin: 10px;
  }

  .codigo-telefonos h2 {
    text-align: center;
    justify-content: space-evenly;
    color: #9f8ad0;
    font-size: 3em;
    font-weight: 300;
  }

  .qr-infos img {
    width: 60%;
  }

  .menu-navegacion {
    width: 50vw;
  }

  .head h1 {
    font-size: 40px;
  }

  .contenedor-delivery {
    padding-top: 0px;
  }

  .contenedor-delivery img {
    justify-content: center;
    width: 80%;
  }

  .menu-1 {
    width: 45%;
  }

  .agregar-imagen {
    width: 80%;
  }

  .cont-equipo {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .contenedor-qr h2 {
    font-size: 40px;
  }

  .contenedor-delivery {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .contenedor-delivery h2 {
    font-size: 40px;
  }

  .menu-1 {
    width: 95%;
  }

  .desc-ubi {
    width: 90%;
  }

  .mapa {
    width: 100%;
  }

  .cont-equipo h3 {
    font-size: 15px;
  }

  .desc-ubi h3 {
    font-weight: 300;
  }
}

@media screen and (max-width: 300px) {
  .contenedor-delivery h2 {
    font-size: 30px;
  }

  .qr-telefono {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bx.bxl-whatsapp.telefonos {
    width: 80px;
  }

  .qr-wha {
    display: none;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 0 1em;
}
.menu-1 img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(27, 33, 37, 0.938);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalImg {
  width: 80%;
  max-width: 700px;
  border-radius: 3px;
  border: 4px solid white;
}
.modalTxt {
  margin-top: 1em;
}
.cerrar {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.menu-1 img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-1 img:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}
.modal.show .modalImg,
.modal.show .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
